{% extends 'evacuator/base.html'%}
{% load my_tags %}
{% block content %}

<div class="container text-center">
    <h1 class="text-center mb-4">Наши сотрудники</h1>
</div>

<div class="container">
    <div class="row">
        {% for object in object_list %}
        <div class="col-md-3 mb-4 d-flex">
            <div class="card flex-fill" style="background-color: transparent;">
                <div class="card-header text-center">
                    <h4 class="my-0 font-weight-normal">{{ object.name }}</h4>
                </div>
 <img src="{{ object.avatar | media_filter }}">
                <div class="card-body d-flex flex-column justify-content-between">
                    <ul class="list-unstyled mt-3 mb-4 text-start" style="margin: 0;">
                        <li>{{ object.specialization }}</li>
                        <li>{{ object.comment }}</li>
                    </ul>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}